# OS
.DS_Store

# Node (Next.js)
frontend/node_modules/
frontend/.next/
frontend/.env.local

# Rails
backend/log/*
backend/tmp/*
backend/storage/*
backend/.env*
backend/node_modules/
backend/public/assets

# DB（PostgreSQLなら通常不要だが念のため）
backend/db/*.sqlite3

# Docker
*.pid

# Editor
.vscode/
.idea/

# その他
.envcookie.txt
